@import "colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: clamp(0.75rem, 2.5vw, 1rem); 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $grey;

  @media(min-width: 768px){ flex-direction: row; }
}

.container {
  position: relative;
  padding: 1.5rem 2.5rem;
  flex: 1;
  min-height: 100%;
  overflow: hidden;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-white { color: white; };
.c-primary { color: $primary !important; }
.c-darkgrey { color: $darkgrey !important; }
.c-grey { color: $grey !important; }
.c-lightgrey { color: $lightgrey !important; }

.bgc-primary { background-color: $primary !important; }
.bgc-darkgrey { background-color: $darkgrey !important; }
.bgc-grey { background-color: $grey !important; }
.bgc-lightgrey { background-color: $lightgrey !important; }
