@import 'styles/colors';

.container {
  margin: 4rem 0 2rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  line-height: 1em;
  color: white;
  padding: 0 3rem;

  @media(min-width: 768px){ padding: 0; }

  & + .item { margin-top: 1rem; }

  p {
    margin: 0;
    &:first-of-type { font-weight: 700; }
  }
}