@import 'styles/colors';

.subtitle {
  margin-top: -0.4em;
  font-size: 'Lato', sans-serif;
  font-weight: 300;

  &.primary {
    color: $primary;
  }

  &.white {
    color: white;
  }

  &.h1 {
    font-size: 1.5rem;
    line-height: 1.3em;
  }
}