@import 'styles/colors';

.subtitle {
  margin-top: -0.4em;
  font-size: 'Lato', sans-serif;
  font-weight: 300;

  &.h1 {
    font-size: 1.25rem;
    line-height: 1.3em;

    @media(min-width: 992px){ font-size: 1.5rem; }
  }

  &.h2 {
    font-size: 1.5rem;
    line-height: 1.3em;
  }

  &.h3 {
    font-size: 1.5rem;
    line-height: 1.3em;
  }

  &.h4 {
    font-size: 1.5rem;
    line-height: 1.3em;
  }


  &.h5 {
    font-size: 1.5rem;
    line-height: 1.3em;
  }


  &.h6 {
    font-size: 1.5rem;
    line-height: 1.3em;
  }
}