@import "styles/colors";

.loading{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	color: $primary;
	background-color: $darkgrey;
	overflow: hidden;

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 4;
	}
}

.text {
	position: relative;
	font-weight: 900;
	font-size: 4rem;
	text-transform: uppercase;
	user-select: none;
	pointer-events:none;
	-webkit-text-stroke: 1px $primary;
	color: transparent;

	&::before,
	&::after {
		content: 'Loading';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		color: transparent;
		z-index: 2;
		@media(min-width:992px){ -webkit-text-stroke-width: 2px; }
	}

	&::before {
		opacity: 0.8;
		animation: left-right 5s ease infinite;
		-webkit-text-stroke: 1px $primary;
	}

	&::after {
		animation: right-left 5s ease infinite;
		color: $primary;
	}
}

@keyframes right-left {
	0%,
	100% {
		transform: translate(0,0);
	}

	30%,
	40% {
		transform: translate(10%, 20%);
	}

	60%,
	70% {
		transform: translate(-10%, 20%);
	}
}

@keyframes left-right {
	0%,
	100% {
		transform: translate(0,0);
	}

	30%,
	40% {
		transform: translate(-10%, -20%);
	}

	60%,
	70% {
		transform: translate(10%, -20%);
	}
}