@import 'styles/colors.scss';

.favSlider {
  padding-top: calc(40px - 1rem);
  max-width: 100%;
  flex: 1;

  :global {
    .slick-list { overflow: visible; }

    .slick-slide{
      > div {
        padding: 1rem 0;
      }

      &:not(:first-of-type){
        padding-left: 1rem;
      }
    }

    .slick-arrow {
      width: 35px;
      height: 35px;
      transform: none;
      transition: opacity 0.6s ease;
      
      &::before { display: none; }

      &.slick-disabled { opacity: 0.4; }
    }

    .slick-next {
      top: 0;
      right: 0;
    }

    .slick-prev {
      top: 0;
      right: calc(35px + 8px);
      left: initial;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  background-color: $primary;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 900;
  color: $darkgrey;
  border-radius: 12px;
  box-shadow: 0px 3px 6px 0px rgba(black, 0.16);
  transition: transform 0.4s ease;

  &:hover {
    transform: translateY(5px);
  }

  .sufix {
    padding: 1.5rem 1rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba($darkgrey, 0.1);
  }
}